@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My PWA</title>
    <link rel="manifest" href="/pwa/manifest.json">
    <link rel="stylesheet" href="/pwa/css/site.css">

    <style>
        body
        {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        .container
        {
            padding: 20px;
            text-align: center;
        }

        .play-button
        {
            background-color: #6200ea;
            border: none;
            border-radius: 50%;
            color: white;
            padding: 20px;
            font-size: 40px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

            .play-button:active
            {
                background-color: #3700b3;
            }

        .elapsed-time
        {
            margin-top: 20px;
            font-size: 24px;
        }

        .log-textarea
        {
            margin-top: 20px;
            width: 100%;
            height: 200px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>P2</h1>
        <h2>--</h2>

        <button class="play-button">
            <span class="material-icons">play_arrow</span>
        </button>

        <div class="elapsed-time" id="elapsedTime">Elapsed Time: 0 seconds</div>
        <textarea class="log-textarea" id="logTextarea" readonly></textarea>

        <div id="test2">test2</div>
        <div id="test">test</div>
    </div>

    <script>
        let test = document.getElementById('test');
		test.innerHTML = 'Hello from JavaScript';
    </script>

    <script src="/pwa/js/test.js"></script>
    <script src="/pwa/js/app.js"></script>
</body>
</html>
